@charset "utf-8";
.ui-button-text {
	background: #19a195;
	display: inline-block;
	padding: 0 10px;
	line-height: 30px;
	color: #fff;
	font-family: "MullerRegular";
	font-size: 13px;
	border-radius: 5px;
	cursor: pointer;
	border-bottom: 1px solid #19a195;
	border-right: 1px solid #19a195;
	border-top: 1px solid #19a195;
	border-left: 1px solid #19a195;
	transition: .2s;
}

.enter {
	background: #19a195;
	display: inline-block;
	padding: 0 10px;
	line-height: 30px;
	color: #fff;
	font-family: "MullerRegular";
	font-size: 13px;
	border-radius: 5px;
	cursor: pointer;
	border-bottom: 1px solid #19a195;
	border-right: 1px solid #19a195;
	border-top: 1px solid #19a195;
	border-left: 1px solid #19a195;
	transition: .2s;
}

a {
 color: #19a195;
}
a:hover{
 text-decoration: none;
}
